/* --------------------------------------
=========================================
Butter - Restaurant, Bakery, Coffee, Winery and Pizza HTML5 Layouts
Version: 1.0
Designed By: UXLiner
=========================================
1. Header
	+ logo
	+ top navigation
	+ searchsection-lg
	
2. Content
	+ sections
	+ page title
	+ parallax backgrounds
	
3. Sidebar
	+ site search
	+ tabs
	+ portfolio widgets
	+ advertisements

3. Typography
	+ lists
	+ buttons
	+ styled boxes
	+ dropcaps
	+ highlight colors
	+ tables
	+ pricing tables
	+ framed boxes
	+ pagination
	
4. Footer
	+ copyrights
	+ google map
--------------------------------------------------------*/

/*----------------------------------------------------
	SITE MAIN STRUCTURE
------------------------------------------------------*/
body {
	font-family: 'Lato', sans-serif;
	color: #777575;
	font-size: 15px;
}
.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
	margin: 0;
}
.container, .container-fluid {
	padding-left: 0;
	padding-right: 0;
}
.site-wrapper {
	background: #FFF;
	margin: auto;
	width: 100%;
	overflow: hidden;
}
.left{
	float:left !important;
}
.right{
	float:right;
}
.full-wid {
    width: 100%;
}
.line-height30{
	line-height:30px;
}
.sec-auto-margin {
    float: none;
    margin: auto;
}
/*---------------------------------------------------
	HEADER
------------------------------------------------------*/
.logo_holder {
	float: left;
	width: 100%;
	height: 64px;
}
/* Logo */
.navbar-brand.logo {
	background: url(../images/logo.png) no-repeat left 8px;
	background-size: 100%;
    background-position: left 25px;
}

/* Top Cart */
.cart{
	margin:30px 60px 0 25px;
	border:0;
}
.cart button, .cart button:active{
	border:0;
	transition: left .3s ease-in-out;
	background:#FFF;
}
.cart .cart-info{
	background:#D25028;
	width:18px;
	height:18px;
	text-align:center;
	line-height:16px;
	font-size:12px;
	color:#FFF;
	border-radius:100%;
	margin:-8px 0 0 -10px;
	position:absolute;
}
.cart .wrapp-mini-cart{
	padding:20px;
	background:#fff;
}
.cart .wrapp-mini-cart .cart-item {
    border-bottom: 1px solid #cbcbcb;
    margin-top: 20px;
    padding-bottom: 25px;
}
.wrapp-mini-cart .cart-img {
	float: left;
	height: 72px;
	position: relative;
	width: 68px;
}
.wrapp-mini-cart .cart-content {
	padding-left: 80px;
}
h4.item-name a{
	color:#525252;
}
h4.item-name a:hover{
	color:#000;
}
.cart-action{
	margin:15px 0 10px 0;
}
.button-cart{
	background:#D25028;
	padding:8px 15px;
	font-size:14px;
	text-transform:uppercase;
	color:#FFF;
	float:right;
	border-radius:3px;
}
.button-cart:hover{
	background:#000;
	color:#fff;
}
/* Top Search Box */
.navbar-collapse {
	position: relative;
	max-height: 270px;
}
.navbar-form .input-group{
	width:100%;
}
.navbar-form .input-group span.input-group-btn{
	width:1%;
}
.navbar-collapse form[role="search"] {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	z-index: 0;
}
.navbar-collapse form[role="search"] button,  .navbar-collapse form[role="search"] input {
	padding: 24px 10px 18px 10px;
	border-radius: 0px;
	border-width: 0px;
	color: rgb(119, 119, 119);
	background-color: rgb(255, 255, 255);
	border-color: rgb(255, 255, 255);
	box-shadow: none;
	outline: none;
}
.navbar-collapse form[role="search"] input {
	padding: 24px 10px 18px 10px;
	font-size: 14pt;
	font-style: italic;
	color: rgb(160, 160, 160);
	box-shadow: none;
}
.navbar-collapse form[role="search"] button[type="reset"] {
	display: none;
}
.navbar-collapse form[role="search"] {
	width: 38px;
}
.navbar-collapse form[role="search"] button,  .navbar-collapse form[role="search"] input {
	padding: 30px 10px 18px 10px;
}
.navbar-collapse form[role="search"] input {
	font-size: 18pt;
	opacity: 0;
	display: none;
	height:72px;
}
.navbar-collapse form[role="search"].active {
	width: 100%;
}
.navbar-collapse form[role="search"].active button,  .navbar-collapse form[role="search"].active input {
	display: table-cell;
	opacity: 1;
}
.navbar-collapse form[role="search"].active input {
	width: 100%;
}
/*---------------------------------------------------
	SECTIONS
------------------------------------------------------*/
section{
	height:auto !important;
}
.skroll-header ul li.skroll-active a {
    color: #D25028;
}
.section-lg {
	width: 100%;
	float: left;
}
.carousel-indicators {
    bottom: -35px;
    left: 0;
    margin: 0;
    width: 100%;
}
.carousel-indicators li {
    background: #7d7c7c none repeat scroll 0 0;
    border-color: #7d7c7c;
    border-radius: 5px;
    height: 4px;
    margin: 0;
    width: 60px;
}
.carousel-indicators.white-color li {
    background: #fff none repeat scroll 0 0;
    border-color: #fff;
}
.carousel-indicators .active, .carousel-indicators.white-color .active {
    background: #D25028 none repeat scroll 0 0;
    border: 0 none;
    height: 4px;
    margin: 0;
    width: 60px;
}
.section-lg.gery-bg.one {
    background: #d8dce0 none repeat scroll 0 0;
    padding: 60px 0;
}
.services-we-do {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
    position: relative;
    transition: box-shadow 0.2s ease-in-out 0s;
}
.services-we-do:hover {
    box-shadow: 0 39px 56.4px 3.6px rgba(0, 0, 0, 0.24);
    transition: box-shadow 0.2s ease-in-out 0s;
}
.services-we-do:hover img {
    opacity: 0.5;
    transition: all 0.3s ease-out 0s;
}
.service-info{
    padding:30px;
}
.dine-time {
    background-color: #F1b11d;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-top: -38px;
    padding: 5px 25px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    z-index: 9;
}

/*---------------------------------------------------
	Icons
------------------------------------------------------*/
.iconbox {
	height:80px;
	width:80px;
	line-height:92px;
	z-index: 5;
	vertical-align: middle;
	text-align: center;
	transition: all 0.3s ease-out 0s;
	margin:auto;
	color:#49a32b;
	font-weight:normal;
}
.icon-boxed {
	height:58px;
	width:58px;
	line-height:68px;
	z-index: 5;
	vertical-align: middle;
	text-align: center;
	transition: all 0.3s ease-out 0s;
	margin:auto;
	font-weight:normal;
	float:left;
}
.icon-boxed.wide90 {
	width:100px;
	height:100px;
	line-height:110px;
	vertical-align: middle;
	text-align: center;
	border-radius:0;
	transition: all 0.3s ease-out 0s;
}
.fea-sce-col:hover .icon-boxed.wide90, .fea-sce-col.active .icon-boxed.wide90 {
	background:#D25028;
	color:#FFF;
}


/*---------------------------------------------------
	Food Menu Items
------------------------------------------------------*/
.menu-card{
	margin-bottom:40px;
}
.menu-items{
	overflow:hidden;
	position: relative;
    z-index: 1;
}
.menu-card .menu-img{
	width:100px;
	float:left;
	margin-right:20px;
}
.menu-items h3{
	background: #fff none repeat scroll 0 0;
    display: inline;
    float: left;
    margin: 5px 0;
    padding-right: 10px;
    text-align: left;
	color:#010101;
	font-size: 20px;
}
.menu-items .price{
	background: #fff none repeat scroll 0 0;
    color: #D25028;
    float: right;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    margin: 3px 0;
    padding-left: 10px;
}
.menu-items .dotted-lines{
	border-top: 2px dotted #ccc;
    left: 0;
    position: absolute;
    top: 18px;
    width: 100%;
    z-index: -1;
}
.menu-items.sidebar h3{
	font-size:15px;
}
.menu-items.sidebar .price{
    font-size: 14px;
	font-weight:normal;
}




/*---------------------------------------------------
	Page titles
------------------------------------------------------*/
.section-titles{
	margin-bottom:20px;
}
.title1 h2 {
	font-weight: normal;
	position: relative;
	margin: 0 0 60px 0;
}
.title1 h2 em {
	color: #989898;
	display: block;
	font-style: normal;
	font-weight: normal;
	line-height: 20px;
	margin: 50px auto 0;
	text-transform: none;
	width: 80%;
	font-size: 15px;
}
.title1 .line {
	display: block;
	height: 13px;
	margin: 0 auto;
	position: relative;
	top: 50px;
	width: 70px;
	background: url(../images/title-line.png) no-repeat center bottom;
}
.title1 h2.one {
	font-weight: normal;
	position: relative;
	margin: 0 0 35px 0;
}
.title-line-shape {
	background: url(../images/title-line.png) no-repeat center bottom;
	height: 20px;
}
.sec-title h2::before {
	background: #D25028 none repeat scroll 0 0;
	content: "";
	height: 100%;
	letter-spacing: 1px;
	position: absolute;
	right: -16px;
	top: 4px;
	width: 4px;
}
/* page sub headers */
.page-header {
	background: url(../images/site-img10.jpg) no-repeat scroll center top;
	background-size: cover;
	float: left;
	margin: 0;
	padding: 200px 0 60px 0;
	width: 100%;
}
.page-header.one {
	background: url(../images/site-img11.jpg) no-repeat scroll center top;
}
.page-header.two {
	background: url(../images/site-img12.jpg) no-repeat scroll center top;
}
.page-header.three {
	background: url(../images/site-img13.jpg) no-repeat scroll center top;
}
.page-header.four {
	background: url(../images/site-img14.jpg) no-repeat scroll center top;
}
.page-header.five {
	background: url(../images/site-img15.jpg) no-repeat scroll center top;
}
.breadcrumbs {
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	margin: 23px 0 0;
	text-align: right !important;
}
.breadcrumbs a {
	color: #fff;
}
.breadcrumbs a:hover {
	color: #cecece;
}
.breadcrumbs i {
	padding: 0 5px;
}
.team-col {
    float: left;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
.team-col.imgbox {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.team-thumb .imgbox img {
    transform: scale(1);
    transition: all 0.3s ease-in-out 0s;
}
.team-thumb:hover .imgbox img {
    transform: scale(1.5);
}
.team-col .team-overlay {
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 345px;
    transition: top 0.3s ease-in-out 0s;
    width: 100%;
    z-index: 100;
}
.team-thumb .team-dis {
    border-bottom: 2px solid #d7d7d7;
    float: left;
    padding: 20px;
    transition: top 0.3s ease-in-out 0s;
    width: 100%;
}
.col-md-6 .nav > li:last-child > a {
	padding-right:32px;
}

/*---------------------------------------------------
	Parallax and Textures
------------------------------------------------------*/
.bg-parallax {
	background: url(../images/parallax-bg.jpg) no-repeat center bottom fixed;
	background-size: cover;
	width: 100%;
	float: left;
	padding:80px 0 100px 0;
}
.bg-parallax.one {
	background: url(../images/parallax-bg.jpg) no-repeat center bottom fixed;
	background-size: cover;
	width: 100%;
	float: left;
	padding:80px 0 80px 0;
}
.bg-parallax-1 {
	background: url(../images/parallax-bg1.jpg) no-repeat center bottom fixed;
	background-size: cover;
	width: 100%;
	float: left;
	padding:80px 0;
}

/*image hovers */
.col-img-hover {
	position: relative;
	width: 100%;
	padding: 10px;
	margin: 0px;
	float: left;
	border: 1px solid #e1e1e1;
}
.img-hover-st-1 {
	position: relative;
	width: 100%;
	height: 233px;
	padding: 0px;
	margin: 0px;
	float: left;
	overflow: hidden;
}
.img-hover-st-1 .text {
	position: absolute;
	padding: 0px;
	margin: 0px;
	float: left;
	width: 100%;
	height: 233px;
	left: 0px;
	top: 0px;
	z-index: 10;
	background-color: #1cbac8;
	transition: left .3s ease-in-out;
}
.img-hover-st-1 .text.red {
	background-color: #e71a1a;
}
.img-hover-st-11 .text.green {
	background-color: #3fc35f;
}
.img-hover-st-1 .text.violet {
	background-color: #8a5ed9;
}
.img-hover-st-1 .imgbox {
	position: absolute;
	padding: 0px;
	margin: 0px;
	float: left;
	width: 100%;
	height: 235px;
	left: 0px;
	top: 0px;
	z-index: 100;
	transition: top .3s ease-in-out;
}
.imgbox img {
	width: 100%;
}
.img-hover-st-1 .text .title {
	color: #fff;
	margin: 15px 0 0 19px;
}
.img-hover-st-1 .text p {
	color: #fff;
	font-weight: normal;
	margin: 5px 15px 0 19px;
}
.img-hover-st-1 .text a {
	color: #FFF;
	margin: 15px 15px 0 19px;
}
.img-hover-st-1 .text a:hover {
	color: #161616;
}
.img-hover-st-1:hover .imgbox {
	position: absolute;
	top: 250px;
	transition: top .3s ease-in-out;
}
/*style 2*/
.img-hover-st-2 {
	opacity: 1;
	width: 100%;
	height: 235px;
	margin: 0px;
	position: relative;
	left: 0px;
	top: 0px;
	margin: 0px;
	overflow: hidden;
	-webkit-transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-ms-transition: opacity .25s ease-in-out;
	-o-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;
}
.img-hover-st-2 .imgbox {
	padding: 0px;
	margin: 0px;
	float: left;
	width: 100%;
	height: 235px;
}
.img-hover-st-2 .text {
	position: absolute;
	background: #000;
	width: 100%;
	height: 235px;
	text-align: center;
	color: #fff;
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-transition: opacity .50s ease-in-out;
	-moz-transition: opacity .50s ease-in-out;
	-ms-transition: opacity .50s ease-in-out;
	-o-transition: opacity .50s ease-in-out;
	transition: opacity .50s ease-in-out;
}
.img-hover-st-2 .text:hover {
	opacity: 1;
	-webkit-transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-ms-transition: opacity .25s ease-in-out;
	-o-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;
	background: url(../images/site-img5.png) left top repeat;
}
.img-hover-st-2 .text a.hov_circle {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 63px;
	top: 0px;
	padding: 0px;
	margin: 0px;
	background-color: #1cbac8;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	overflow: hidden;
	transition-property: background-color, color;
	transition: top .3s ease-in-out;
	transition-timing-function: ease-out;
}
.img-hover-st-2 .text a.hov_circle:hover, .img-hover-st-2 .text a.hov_circle.two:hover {
	background-color: #fff;
	transition-property: background-color, color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}
.img-hover-st-2 .text a.hov_circle:hover i, .img-hover-st-2 .text a.hov_circle.two:hover i {
	color: #272727;
	transition-property: color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}
.img-hover-st-2 .text a.hov_circle.two {
	left: 118px;
	top: 0px;
	transition: top .5s ease-in-out;
	background-color: #8dba13;
}
.img-hover-st-2 .text a.hov_circle i {
	color: #fff;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
}
.img-hover-st-2 .text:hover .hov_circle {
	transition: top .3s ease-in-out;
	left: 65px;
	top: 100px;
}
.img-hover-st-2 .text:hover .hov_circle.two {
	transition: top .5s ease-in-out;
	left: 122px;
	top: 100px;
}
.img-border {
	border: solid 1px #545454;
}
/*style 3*/
.img-hover-st-3 {
	opacity: 1;
	width: 100%;
	height: 235px;
	margin: 0px;
	position: relative;
	left: 0px;
	top: 0px;
	margin: 0px;
	overflow: hidden;
	-webkit-transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-ms-transition: opacity .25s ease-in-out;
	-o-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;
}
.img-hover-st-3 .imgbox {
	padding: 0px;
	margin: 0px;
	float: left;
	width: 100%;
	height: 220px;
}
.img-hover-st-3 .text {
	width: 100%;
	height: 235px;
	position: absolute;
	background: #000;
	color: #fff;
	top: 0;
	left: 0;
	opacity: 0;
	overflow: hidden;
	-webkit-transition: opacity .50s ease-in-out;
	-moz-transition: opacity .50s ease-in-out;
	-ms-transition: opacity .50s ease-in-out;
	-o-transition: opacity .50s ease-in-out;
	transition: opacity .50s ease-in-out;
}
.img-hover-st-3 .text:hover {
	opacity: 1;
	-webkit-transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-ms-transition: opacity .25s ease-in-out;
	-o-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;
	background: url(../images/site-img5.png) left top repeat;
}
.img-hover-st-3 .text h3 {
	position: absolute;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	left: 5px;
	top: 220px;
	margin: 15px 0 0 19px;
	transition: top .4s ease-in-out;
}
.img-hover-st-3 .text p {
	position: absolute;
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	left: 5px;
	line-height: 18px;
	top: 255px;
	text-align: left;
	margin: 15px 0 0 19px;
	transition: top .6s ease-in-out;
}
.img-hover-st-3 .text a {
	position: absolute;
	font-weight: normal;
	left: 0px;
	top: 320px;
	text-align: left;
	margin: 0px 0 0 19px;
	transition: top .7s ease-in-out;
	overflow: hidden;
}
.img-hover-st-3 .text:hover h3 {
	position: absolute;
	left: 5px;
	top: 20px;
	transition: top .4s ease-in-out;
}
.img-hover-st-3 .text:hover p {
	position: absolute;
	left: 5px;
	top: 50px;
	transition: top .6s ease-in-out;
}
.img-hover-st-3 .text:hover a {
	position: absolute;
	left: 0px;
	top: 136px;
	transition: top .7s ease-in-out;
}
/*style 4*/
.img-hover-st-4 {
	position: relative;
	width: 100%;
	height: 235px;
	padding: 0px;
	margin: 0px;
	float: left;
	overflow: hidden;
}
.img-hover-st-4 .imgbox {
	padding: 0px;
	margin: 0px;
	float: left;
	width: 100%;
	height: 220px;
}
.img-hover-st-4 .text {
	position: absolute;
	padding: 0px;
	margin: 0px;
	float: left;
	width: 100%;
	height: 235px;
	left: 0px;
	top: 192px;
	z-index: 100;
	background: url(../images/site-img5.png) left top repeat;
	transition: top .3s ease-in-out;
}
.img-hover-st-4 .text h3 {
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	margin: 15px 0 0 19px;
}
.img-hover-st-4 .text h3 span {
	color: #fff;
	font-size: 13px;
	text-transform: none;
}
.img-hover-st-4 .text p {
	color: #fff;
	font-weight: normal;
	margin: 5px 15px 0 19px;
}
.img-hover-st-4 .text a {
	margin: 8px 15px 0 19px;
}
.img-hover-st-4:hover .text {
	position: absolute;
	top: 20px;
	transition: top .3s ease-in-out;
}
.img-hover-st-4 .container {
	border-top: 1px solid #e1e1e1;
	padding-top: 50px;
}
/*style 5*/
.img-hover-st-5 {
	position: relative;
	width: 100%;
	height: 235px;
	padding: 0px;
	margin: 0px;
	float: left;
	overflow: hidden;
}
.img-hover-st-5 .imgbox {
	padding: 0px;
	margin: 0px;
	float: left;
	width: 100%;
	height: 220px;
}
.img-hover-st-5 .text {
	position: absolute;
	padding: 0px;
	margin: 0px;
	float: left;
	width: 100%;
	height: 235px;
	left: -270px;
	top: 0px;
	z-index: 100;
	transition: left .5s ease-in-out;
	background: url(../images/site-img5.png) left top repeat;
}
.img-hover-st-5 .text h3 {
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	margin: 15px 0 0 19px;
}
.img-hover-st-5 .text p {
	color: #fff;
	font-weight: normal;
	margin: 5px 15px 0 19px;
}
.img-hover-st-5 .text a {
	margin: 8px 15px 0 19px;
}
.img-hover-st-5:hover .text {
	position: absolute;
	left: 0px;
	transition: left .5s ease-in-out;
}
/*style 6*/
.img-hover-st-6 {
	position: relative;
	width: 100%;
	height: 235px;
	padding: 0px;
	margin: 0px;
	float: left;
	overflow: hidden;
}
.img-hover-st-6 .imgbox {
	padding: 0px;
	margin: 0px;
	float: left;
	width: 100%;
	height: 235px;
}
.img-hover-st-6 .text {
	position: absolute;
	padding: 0px;
	margin: 0px;
	float: left;
	width: 100%;
	height: 235px;
	left: 0px;
	top: 250px;
	z-index: 100;
	transition: top .3s ease-in-out;
	background: url(../images/site-img5.png) left top repeat;
}
.img-hover-st-6 .text h3 {
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	margin: 15px 0 0 19px;
}
.img-hover-st-6 .text p {
	color: #fff;
	font-weight: normal;
	margin: 5px 15px 0 19px;
}
.img-hover-st-6 .text a.readmore_small {
	margin: 10px 0px 0 28px;
	padding: 4px 15px;
}
.img-hover-st-6 .text a.readmore_small.green {
	margin: 10px 0px 0 5px;
}
.img-hover-st-6:hover .text {
	position: absolute;
	top: 185px;
	transition: top .3s ease-in-out;
}
/*buttons*/
.btn {
	padding: 10px 35px;
	font-size: 15px;
}
/*Black btn*/
.black {
	border: 1px solid #121212;
	background-color: #121212;
	color: #fff;
}
.black:after {
	background-color: #000;
}
.black:hover {
	border-color: #000;
	background-color: transparent;
	color: #000;
}
/*orange button*/
.orange-button {
	border: solid 1px #D25028;
	border-radius: 30px;
	background: #D25028;
	padding: 10px 20px;
	color: #fff;
	border-radius: 0px;
	padding: 18px 25px;
	margin-left: 6px;
	margin-top: -3px;
	transition: all 0.3s ease-out 0s;
}
.orange-button:hover {
	border: solid 1px #fff;
	color: #000;
	background: #fff;
}
/*black button*/
.black-button {
	border: solid 1px #222222;
	background: #222222;
	padding: 10px 20px;
	color: #fff;
	border-radius: 0px;
	padding: 18px 20px;
	margin-left: 6px;
	margin-top: -3px;
	transition: all 0.3s ease-out 0s;
}
.black-button:hover {
	border: solid 1px #000;
	color: #fff;
	background: #000;
}
/*orange button*/
.orange-button.one {
	border: 0;
	border-radius: 30px;
	background: #D25028;
	padding: 20px;
	color: #fff;
	text-align: center;
	margin: 0;
	border-radius: 0px;
	transition: all 0.3s ease-out 0s;
}
.orange-button.one:hover {
	border: 0;
	color: #fff;
	background: #25272b;
}
/*orange button*/
.orange-button.two {
	border: 0;
	background: #D25028;
	padding: 15px 30px;
	color: #fff;
	text-align: center;
	margin: -3px 0 0 5px;
	border-radius: 0px;
	transition: all 0.3s ease-out 0s;
}
.orange-button.two:hover {
	border: 0;
	color: #222222;
	background: #fff;
}
/*white small bordere*/
.button a.white-bordersmal {
	border: solid 1px #fff;
	border-radius: 30px;
	padding: 10px 20px;
	color: #fff;
}
.button a.white-bordersmal:hover {
	border: solid 1px #555555;
	color: #555555;
}
/*white bordere*/
.button a.whte-border {
	border: solid 1px #FFF;
	border-radius: 30px;
	padding: 12px 45px;
	color: #FFF;
}
.button a.whte-border:hover {
	border: solid 1px #fff;
	background: #fff;
	color: #000;
}
/*white box border*/
.button a.whte-box-border {
	border: solid 1px #FFF;
	background: #fff;
	border-radius: 5px;
	padding: 12px 20px;
	color: #484949;
}
.button a.whte-box-border:hover {
	border: solid 1px #1f1f1f;
	background: #1f1f1f;
	color: #fff;
}
/*grey bordere*/
.button a.grey-border {
	border: solid 1px #8d8d8d;
	border-radius: 30px;
	padding: 8px 20px;
	color: #8d8d8d;
}
.button a.grey-border:hover {
	border: solid 1px #8d8d8d;
	background: #8d8d8d;
	color: #fff;
}
/*blue button*/
.blue-button {
	border: solid 1px #D25028;
	border-radius: 30px;
	background: #D25028;
	padding: 10px 20px;
	color: #fff;
	border-radius: 0px;
	padding: 18px 25px;
	margin-left: 6px;
	margin-top: -3px;
	transition: all 0.3s ease-out 0s;
}
.blue-button:hover {
	border: solid 1px #000;
	color: #fff;
	background: #494949;
}
.samll-grey-button {
	border: solid 1px #787878;
	border-radius: 30px;
	background: #787878;
	padding: 12px 20px;
	color: #fff;
	margin-left: 6px;
	margin-top: -3px;
	transition: all 0.3s ease-out 0s;
}
.samll-grey-button:hover, .pricing-box.style-1:hover .samll-grey-button, .pricing-box.style-1.active .samll-grey-button {
	border: solid 1px #D25028;
	color: #fff;
	background: #D25028;
}
/*brn style large*/
.button a.boxed-color-lg {
	border: 0;
	background: #1cbac8;
	border-radius: 0px;
	padding: 18px 45px;
	color: #fff;
	font-size: 14px;
}
.button a.round {
	border-radius: 6px !important;
}
.button a.round.border {
	border-radius: 6px !important;
	background-color: transparent;
	border: solid 1px #414141;
	color: #414141;
}
.button a.round.border:hover {
	border: solid 1px #414141;
}
.button a.boxed-color-lg.red {
	background: #ff2023;
}
.button a.boxed-color-lg.blue {
	background: #D25028;
}
.button a.boxed-color-lg.green {
	background: #449d44;
}
.button a.boxed-color-lg.orange {
	background: #f05424;
}
.button a.boxed-color-lg:hover, .button a.boxed-color-lg.active {
	border: solid 0;
	background: #2c2c2c;
	color: #fff;
}
/*brn style small*/
.button a.boxed-color-sm {
	border: 0;
	background: #1cbac8;
	border-radius: 0px;
	padding: 15px 25px;
	color: #fff;
	font-size: 14px;
	margin-bottom: 30px;
}
.button a.boxed-color-sm.red {
	background: #ff2023;
}
.button a.boxed-color-sm.blue {
	background: #D25028;
}
.button a.boxed-color-sm.green {
	background: #449d44;
}
.button a.boxed-color-sm.orange {
	background: #D25028;
}
.button a.boxed-color-sm:hover, .button a.boxed-color-sm.active {
	border: solid 0;
	background: #2c2c2c !important;
	color: #fff;
}
/*brn style extra small*/
.button a.boxed-color-xs {
	border: 0;
	background: #D25028;
	border-radius: 0px;
	padding: 8px 15px;
	color: #fff;
	font-size: 14px;
	margin-bottom: 30px;
}
.button a.boxed-color-xs.red {
	background: #ff2023;
}
.button a.boxed-color-xs.blue {
	background: #D25028;
}
.button a.boxed-color-xs.green {
	background: #449d44;
}
.button a.boxed-color-xs.orange {
	background: #f05424;
}
.button a.boxed-color-xs:hover, .button a.boxed-color-xs.active {
	border: solid 0;
	background: #2c2c2c;
	color: #fff;
}
.black-button.small-xs {
	border: solid 1px #fff;
	border-radius: 30px;
	background: #fff;
	padding: 6px 18px !important;
	font-size: 13px;
	color: #000;
	border-radius: 0px;
	margin-left: 14px;
	margin-top: 9px;
	transition: all 0.3s ease-out 0s;
}
.black-button.small-xs:hover {
	background: #3d3d3d;
	border: solid 1px #3d3d3d;
	color: #FFF;
}
.button a.boxed-color {
	border:0;
	background:#D25028;
	border-radius:0px;
	padding:15px 40px;
	color:#fff;
	font-size:15px;
}
.button a.boxed-color:hover {
	border:solid 0;
	background:#fff;
	color:#000;
}
.button a.boxed-color.active {
	border:solid 0;
	background:#fff;
	color:#000;
}
.button.ser-list a{
	margin:0 5px;
}
/*------------------*/
/*flip boxes styles */
/*------------------------------------------------------*/	
.flip {
	-webkit-perspective: 800;
	-ms-perspective: 800;
	-moz-perspective: 800;
	-o-perspective: 800;
	width: 100%;
	height: 300px;
	position: relative;
	margin: 25px auto;
}
.flip .card.flipped {
	transform: rotatey(-180deg);
	-ms-transform: rotatey(-180deg); /* IE 9 */
	-moz-transform: rotatey(-180deg); /* Firefox */
	-webkit-transform: rotatey(-180deg); /* Safari and Chrome */
	-o-transform: rotatey(-180deg); /* Opera */
}
.flip .card {
	width: 100%;
	height: 300px;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.5s;
	-moz-transform-style: preserve-3d;
	-moz-transition: 0.5s;
	-ms-transform-style: preserve-3d;
	-ms-transition: 0.5s;
	-o-transform-style: preserve-3d;
	-o-transition: 0.5s;
	transform-style: preserve-3d;
	transition: 0.5s;
}
.flip .card .face {
	width: 100%;
	height: 306px;
	position: absolute;
	z-index: 2;
	text-align: center;
	backface-visibility: hidden;  /* W3C */
	-webkit-backface-visibility: hidden; /* Safari & Chrome */
	-moz-backface-visibility: hidden; /* Firefox */
	-ms-backface-visibility: hidden; /* Internet Explorer */
	-o-backface-visibility: hidden; /* Opera */
}
.flip .card .front {
	position: absolute;
	z-index: 1;
	background: black;
	color: white;
	cursor: pointer;
}
.flip .card .back {
	background: #D25028;
	color: #fff;
	cursor: pointer;
	padding: 30px;
	transform: rotatey(-180deg);
	-ms-transform: rotatey(-180deg); /* IE 9 */
	-moz-transform: rotatey(-180deg); /* Firefox */
	-webkit-transform: rotatey(-180deg); /* Safari and Chrome */
	-o-transform: rotatey(-180deg); /* Opera */
}
/*flip verticle*/
.flip {
	-webkit-perspective: 800;
	-ms-perspective: 800;
	-moz-perspective: 800;
	-o-perspective: 800;
	width: 100%;
	height: 300px;
	position: relative;
	margin: 25px auto;
}
.flip .cardv.flippedv {
	transform: rotatex(-180deg);
	-ms-transform: rotatex(-180deg); /* IE 9 */
	-moz-transform: rotatex(-180deg); /* Firefox */
	-webkit-transform: rotatex(-180deg); /* Safari and Chrome */
	-o-transform: rotatex(-180deg); /* Opera */
}
.flip .cardv {
	width: 100%;
	height: 306px;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.5s;
	-moz-transform-style: preserve-3d;
	-moz-transition: 0.5s;
	-ms-transform-style: preserve-3d;
	-ms-transition: 0.5s;
	-o-transform-style: preserve-3d;
	-o-transition: 0.5s;
	transform-style: preserve-3d;
	transition: 0.5s;
}
.flip .cardv .face {
	width: 100%;
	height: 306px;
	position: absolute;
	z-index: 2;
	text-align: center;
	backface-visibility: hidden;  /* W3C */
	-webkit-backface-visibility: hidden; /* Safari & Chrome */
	-moz-backface-visibility: hidden; /* Firefox */
	-ms-backface-visibility: hidden; /* Internet Explorer */
	-o-backface-visibility: hidden; /* Opera */
}
.flip .cardv .front {
	position: absolute;
	z-index: 1;
	background: black;
	color: white;
	cursor: pointer;
}
.flip .cardv .back {
	background: #D25028;
	color: #fff;
	cursor: pointer;
	padding: 30px;
	transform: rotatex(-180deg);
	-ms-transform: rotatex(-180deg); /* IE 9 */
	-moz-transform: rotatex(-180deg); /* Firefox */
	-webkit-transform: rotatex(-180deg); /* Safari and Chrome */
	-o-transform: rotatex(-180deg); /* Opera */
}
/*------------------*/
/*Divider lines */
/*------------------------------------------------------*/	
.divider-ls {
	border-top: 1px solid #ff7713;
	height: 25px;
	margin: 0 auto 45px;
	opacity: 0.5;
	width: 12%;
}
.divider-d-dashed {
	border-bottom: 1px dashed #d7d7d7;
	border-top: 1px dashed #d7d7d7;
	float: left;
	height: 5px;
	margin: 10px 0 45px;
	width: 100%;
}
.divider-s-line {
	border-bottom: 1px solid #e5e5e5;
	float: left;
	margin-bottom: 45px;
	padding-top: 0;
	width: 100%;
}
.divider-d-line {
	border-bottom: 1px solid #d7d7d7;
	border-top: 1px solid #d7d7d7;
	float: left;
	height: 5px;
	margin: 20px 0 45px;
	width: 100%;
}
.divider-s-dashed {
	border-top: 1px dashed #d7d7d7;
	float: left;
	margin: 15px 0 45px;
	width: 100%;
}
/*---------------------------------------------------
	counters
------------------------------------------------------*/
.counters {
	margin: 0;
	padding: 0
}
.plus-icon {
	float: right;
	margin: -90px -10px 0 0;
}
/*tab styles */
.home-tabs {
	margin: 0;
}
.home-tabs ul.nav-tabs li a {
	padding: 10px 20px;
}
.tab-content {
	border: solid 1px #dddddd;
	border-top: 0;
	padding: 25px 10px 20px 10px;
}
.tab-content img {
	margin: auto;
}
.tab-style {
	margin: 0;
	padding: 80px 0 20px 0;
	overflow: hidden;
}
.tab-style .nav-tabs {
	border: 0;
	padding-left: 9%;
}
.tab-style .nav-tabs > li {
	margin-right: 1px;
}
.tab-style .nav-tabs > li > a {
	margin-right: 0;
	transition: all 0.3s ease-out 0s;
	font-size: 15px;
	text-align: center;
	color: #3c3c3c;
	font-weight: bold;
	border: 0;
	background: #fff;
	border-radius: 0;
	padding: 20px 50px 15px 50px !important;
}
.tab-style .nav-tabs > li:hover > a, .tab-style .nav-tabs > li.active > a {
	color: #fff;
}
.tab-style .nav-tabs > li > a span {
	display: list-item;
	padding-bottom: 8px;
}
.tab-style .tab-content, .tab-style .nav-tabs {
	border: 0;
}
.tab-style .nav-tabs > li.active > a, .tab-style .nav-tabs > li.active > a:focus, .tab-style .nav-tabs > li.active > a:hover, .tab-style .nav-tabs > li > a:hover {
	background: #D25028;
	border: 0;
}
.tab-style1 {
	margin: 0;
	padding: 0;
}
.tab-style1 .nav-tabs {
	border: 0;
	padding-left: 9.200%;
}
.tab-style1 .nav-tabs > li > a {
	margin-right: 0;
	transition: all 0.3s ease-out 0s;
	font-size: 13px;
	text-align: center;
}
.tab-style1 .nav > li:first-child > a {
	border-left: solid 1px #e3e2e2;
}
.tab-style1 .tab-content {
	border: solid 0px #dddddd;
}
.tab-style1 .nav-tabs > li > a, .tab-style1 .nav-tabs > li > a:focus {
	color: #656565;
	border-right: solid 1px #e3e2e2;
	border-radius: 0;
	border-bottom: 0;
	border-top: 0;
}
.tab-style1 .nav > li > a:focus, .tab-style1 .nav > li > a:hover {
	background: #FFF;
	border-bottom: 0;
	border-top: 0;
}
.tab-style1 .nav-tabs > li.active > a, .tab-style1 .nav-tabs > li.active > a:focus, .tab-style1 .nav-tabs > li.active > a:hover {
	color: #656565;
	border-bottom: 0;
	border-top: 0;
	border-color: #e3e2e2;
}
.tab-style1 .nav > li > a {
	padding: 10px 65px !important;
}
.tab-style1 .nav > li > a > i {
	display: inherit;
	color: #e3e2e2;
	transition: all 0.3s ease-out 0s;
}
ul.tabs-style2 {
	width: 100%;
}
ul.tabs-style2 > li > a {
	background: #eaedf0;
	border-radius: 0;
	padding: 20px 32px;
}
.tab-content.tab-style2 {
	overflow: hidden;
}
.tab-style-1 {
	margin: 0;
}
.tab-style-1 .nav-tabs {
	border: 0;
}
.tab-style-1 .nav-tabs > li {
	margin-right: 1px;
}
.tab-style-1 .nav-tabs > li > a {
	margin-right: 0;
	transition: all 0.3s ease-out 0s;
	font-size: 15px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	border: 0;
	background: #282828;
	border-radius: 0;
	padding: 15px 35px !important;
}
.tab-style-1 .nav-tabs > li:hover > a, .tab-style-1 .nav-tabs > li.active > a {
	color: #fff;
}
.tab-style-1 .nav-tabs > li > a span {
	display: list-item;
	padding-bottom: 8px;
}
.tab-style-1 .tab-content, .tab-style-1 .nav-tabs {
	border: 0;
}
.tab-style-1 .nav-tabs > li.active > a, .tab-style-1 .nav-tabs > li.active > a:focus, .tab-style-1 .nav-tabs > li.active > a:hover, .tab-style-1 .nav-tabs > li > a:hover {
	background: #3498db;
	border: 0;
}
/*------------------*/
/*widget styles */
/*------------------------------------------------------*/	

/*products widget*/	
.cat-title {
	background: #000;
	padding: 20px;
	color: #FFF;
}
.cat-list ul {
	margin: 0;
	padding: 0;
}
.cat-list ul li {
	border: solid 1px #dddddd;
	border-top: solid 0px #dddddd;
	padding: 15px 20px;
}
.cat-list ul li a {
	color: #656565
}
.pro-list h2 {
	padding-bottom: 10px;
	border-bottom: solid 1px #dddddd;
	margin: 0 0 30px 0;
}
.pro-list .product-desc {
	float: left;
	width: 100%;
}
.product-title {
	font-size: 20px;
}
.product-title a {
	color: #222222;
	font-weight: 300;
}
.pro-imgage {
	float: left;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100%;
}
.pro-imgage.imgbox {
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
}
.pro-imgage .product-overlay {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 345px;
	transition: top 0.3s ease-in-out 0s;
	width: 100%;
	z-index: 100;
	text-align: center;
}
.pro-imgage .product-overlay a.add-to-cart {
	padding: 12px 16px;
	background: #efefef;
	color: #15181a;
	font-family: 'Roboto', sans-serif;
}
.pro-imgage .product-overlay a:hover.add-to-cart {
	padding: 12px 16px;
	background: #15181a;
	color: #FFF;
}
.product:hover .pro-imgage .product-overlay {
	position: absolute;
	top: 287px;
	transition: top 0.3s ease-in-out 0s;
}
.product-desc {
	float: left;
	width: 100%;
}
.c-post-title a{
	color:#F00;
}
.c-post-title a:hover{
	color:#000;
}
.recommend-content .item {
	border-bottom: solid 1px #dddddd;
	padding-bottom: 15px;
	margin-bottom: 5px;
	overflow: hidden;
}
.recommend-content .item.lst {
	border: 0;
}
.item-thumb {
	border: 1px solid #e1e1e1;
	float: left;
	margin-right: 20px;
}
.item-content a {
	color: #222222;
	font-size: 16px;
}
.item-content a:hover {
	color: #000;
	font-size: 16px;
}
/*------------------*/
/*404 error */
/*------------------------------------------------------*/
.error404 {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 60%;
}
.c-post {
	border-bottom: solid 1px #3d3d3d;
	margin-bottom: 25px;
}
.c-post.one {
	border-bottom: solid 1px #dddddd;
	margin-top: 25px;
	padding-bottom: 10px;
}
.whitebg .col-md-3 .c-post {
	border-bottom: solid 1px #d8d8d8;
}
.c-post.c-post-last, .whitebg .col-md-3 .c-post.c-post-last {
	border-bottom: solid 0px #3d3d3d;
}
.c-post-img {
	float: left;
	height: 72px;
	position: relative;
	width: 68px;
}
.c-post-content {
	padding-left: 80px;
}
.c-post-content p span {
	font-size: 12px;
}
.post-info {
	border-bottom: 1px solid #e4e4e4;
	border-top: 1px solid #e4e4e4;
	float: left;
	margin: 0 0 20px;
	padding: 10px 0;
	width: 100%;
}
.post-info-box {
	padding: 30px;
	background: #FFF;
}
.comment-list {
	margin-bottom: 25px;
}
.tags-b {
	border: solid 1px #505050;
	border-radius: 6px;
	color: #727272;
	padding: 10px 15px;
	margin: 0 5px 5px 0;
	display: inline-block;
}
.tags-s {
	border: solid 1px #cbcbcb;
	border-radius: 4px;
	color: #727272;
	padding: 8px 15px;
	margin: 0 5px 5px 0;
	display: inline-block;
}
.tags-s:hover {
	border: solid 1px #000;
	background: #000;
	border-radius: 4px;
	color: #fff;
	padding: 8px 15px;
	margin: 0 5px 5px 0;
	display: inline-block;
}
/* countdown headers */
.countdown-header {
	background: url(../images/parallax-bg.jpg) no-repeat scroll center top;
	float: left;
	margin: 0;
	padding: 60px 0 80px 0;
	width: 100%;
	text-align: center;
}
/* pagenation */
.pagenation {
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	margin: 23px 0 0 0;
	text-align: right !important;
	text-transform: uppercase;
}
.pagenation.one {
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	margin: 8px 0 0 0;
	text-align: right !important;
	text-transform: uppercase;
}
.pagenation a:hover {
	color: #fff;
}
.pagenation i {
	color: #a2a2a2;
	padding: 0 5px;
}
.pagenation-blog {
	text-align: center;
}
ul.pagenation-list {
	display: inline-block;
	margin: 0;
	padding: 0;
}
ul.pagenation-list > li {
	display: inline-block;
	list-style: outside none none;
	;
}
ul.pagenation-list li a {
	background-color: #e4e4e4;
	border-radius: 100%;
	color: #161616;
	display: inline-block;
	height: 35px;
	line-height: 35px;
	margin: 0 10px 0 0;
	padding: 0;
	text-align: center;
	width: 35px;
}
ul.pagenation-list li a:hover {
	background-color: #666;
	color: #fff;
}
/*------------------*/
/*footer styles */
/*------------------------------------------------------*/	
footer {
	width: 100%;
	float: left;
	margin: 0;
	color: #727272;
}
.footer-bg {
	background: #D25028;
	padding:40px 0 20px 0;
}
.call-to-action{
	margin:0;
}
.call-to-action span{
	border-radius:100px;
	background:#D25028;
	width:75px;
	height:75px;
	line-height:75px;
	text-align:center;
	color:#FFF;
	font-size:30px;
	transition: all 0.2s ease-out 0s;
}
.call-to-action:hover span{
	background:#fff;
	color:#D25028;
}
.call-to-action a{
	color:#FFF;
}
.call-to-action a:hover{
	color:#ffcacc;
}
.copyrights{
    float: left;
    margin: 0;
    padding: 80px 0;
    width: 100%;
}
ul.social-icons {
	margin: 0px 0 0 0;
	padding: 0;
}
ul.social-icons li {
	display:inline-block;
	margin: 0 8px 8px 0;
	padding: 0;
}
ul.social-icons li i {
	color: #fff;
}
ul.social-icons li a {
	background-color: #F1b11d;
	color: #fff;
	display:inline-block;
	font-size: 14px;
	height:45px;
	line-height:45px;
	margin: 0;
	padding: 0;
	text-align: center;
	width:45px;
}
ul.social-icons li a:hover {
	background-color: #D25028;
}
ul.social-icons li a:hover i {
	color: #fff;
}
ul.social-icons.team li {
	display:inline-block;
	margin: 0 5px 8px 0;
	padding: 0;
}
ul.social-icons.team li a{
	background-color: #bebebe;
	color: #fff;
	display:inline-block;
	font-size: 13px;
	height:30px;
	line-height:30px;
	margin: 0;
	padding: 0;
	text-align: center;
	width:30px;
} 
ul.social-icons.team li a:hover {
	background-color: #D25028;
}
iframe {
	border: 0;
}
ul.address-info {
	margin: 0;
	padding: 0;
}
ul.address-info.map {
	background: url(../images/map.png) no-repeat center bottom;
	padding-bottom: 20px;
}
ul.address-info li {
	margin-bottom: 15px;
}
ul.address-info i {
	font-size: 20px;
	margin-right: 10px;
}
ul.address-info.one li {
	margin-bottom: 40px;
}
.contacform{
	padding:50px;
	background:#000;
}
/* scroll up */
.scrollup {
	width: 40px;
	height: 40px;
	opacity: 1;
	position: fixed;
	bottom: 22px;
	right: 20px;
	display: none;
	text-indent: -9999px;
	background: #D25028 url(../images/scroll-top-arrow.png) no-repeat 15px 14px;
	z-index: 999;
}
